{% extends 'base.html.twig' %}

{% block content %}
    {% block body %}
	<div class="row mt-3">
		<div class="col-12">
			<div class="row">
				<div class="col-3">Tipo Documento</div>
				<div class="col-3">
					<select name="cst_tipdocument" id="cst_tipdocument">
						<option value="">Tipo Documento</option>
						<option value="1">CC</option>
						<option value="2">CE</option>
					</select>
				</div>
				<div class="col-3">Num Documento</div>
				<div class="col-3">
					<input type="text" id="cst_numdocument" name="cst_numdocument" value="" required />
				</div>
				<div class="col-3">Primer Nombre</div>
				<div class="col-3">
					<input type="text" id="cst_frsname" name="cst_frsname" value="" required />
				</div>
				<div class="col-3">Segundo Nombre</div>
				<div class="col-3">
					<input type="text" id="cst_lstname" name="cst_lstname" value="" required />
				</div>
				<div class="col-3">Apellidos</div>
				<div class="col-3">
					<input type="text" id="cst_surname" name="cst_surname" value="" required />
				</div>
				<div class="col-3">Dirección</div>
				<div class="col-3">
					<input type="text" id="cst_address" name="cst_address" value="" required />
				</div>
				<div class="col-3">Teléfono</div>
				<div class="col-3">
					<input type="text" id="cst_phone" name="cst_phone" value="" required />
				</div>
				<div class="col-3">Email</div>
				<div class="col-3">
					<input type="text" id="cst_email" name="cst_email" value="" required />
				</div>
				<div class="col-3">Ocupación</div>
				<div class="col-3">
					<input type="text" id="cst_employment" name="cst_employment" value="" required />
				</div>
				<div class="col-3">Departamento</div>
				<div class="col-3">
					<select name="cst_department" id="cst_department">
						<option value="">Departament</option>
						<option value="1">Cundinamarca</option>
						<option value="2">Nariño</option>
					</select>
				</div>
				<div class="col-3">Ciudad</div>
				<div class="col-3">
					<select name="cst_city" id="cst_city">
						<option value="">Ciudad</option>
						<option value="1">Cartagena</option>
						<option value="2">Barranquilla</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-12 text-center mt-4">
			<input type="submit" name="" value="Crear Cliente" class="btn btn-success">
		</div>
	</div>
    {% endblock %}
{% endblock %}