{% extends 'base.html.twig' %}

{% block content %}
    {% block body %}
	<div id="lstProducts" class="container-fluid">
		<div class="row">
			<div class="col-3">
				<div class="prd_image">
					<img src="{{ asset('images/cursophp.jpg') }}" alt="Nombre producto" style="max-width:100%; height: auto;">
				</div>
				<div class="prd_title">					
					<span>Curso PHP</span>
				</div>
				<div class="prd_price">					
					<span>$200.000</span>
				</div>
				<div class="prd_buton">					
					<a href="{{ path('resume_store') }}" class="btn btn-success">Comprar</a>
				</div>
			</div>
		</div>
	</div>
    {% endblock %}
{% endblock %}