{% extends 'base.html.twig' %}

{% block content %}
    {% block body %}
	<div class="row">
		{% for product in arrProducts %}
			<div class="col-3">
				<div class="prd_image">
					<img src="{{ asset(product.productImage) }}" alt="Nombre producto" style="max-width:100%; height: auto;">
				</div>
				<div class="prd_title">					
					<span>{{ product.productName }}</span>
				</div>
				<div class="prd_price">					
					<span>{{ product.value|number_format(0, ',', '.') }}</span>
				</div>
				<div class="prd_buton">					
					<a href="{{ path('resume_store', {id: product.id}) }}" class="btn btn-success">Comprar</a>
				</div>
			</div>
		{% endfor %}
	</div>
    {% endblock %}
{% endblock %}