{% extends 'base.html.twig' %}

{% block content %}
    {% block body %}
	<div class="row">
		<div class="col-12">
			Resumen Compra
		</div>
		<div class="col-3">
			<div class="prd_image">
				<img src="{{ asset('images/cursophp.jpg') }}" alt="Nombre producto" style="max-width:100%; height: auto;">
			</div>
			<div class="prd_title">					
				<span>Curso PHP</span>
			</div>
			<div class="prd_price">					
				<span>$200.000</span>
			</div>
		</div>
		<div class="col-9">
			Favor diligencie los siguientes datos para finalizar la compra:
			<form method="post" action="{{ path('process_payment') }}">
				<div class="form-group">
					<label for="cst_name">Nombre Completo</label>
					<input type="text" class="form-control" id="cst_name" name="cst_name" placeholder="Favor ingrese su nombre completo" required>
				</div>
				<div class="form-group">
					<label for="cst_name">Correo electrónico</label>
					<input type="email" class="form-control" id="cst_email" name="cst_email" placeholder="Favor ingrese su correo electrónico" required>
				</div>
				<div class="form-group">
					<label for="cst_name">Celular:</label>
					<input type="number" class="form-control" id="cst_phone" name="cst_phone" placeholder="Favor ingrese su correo electrónico" required>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-warning">Ir a Pagar</button>
				</div>
			</form>
		</div>
	</div>
    {% endblock %}
{% endblock %}